/* Copy to firedragon Profile folder under "chrome" folder, not in CSS folder
/* The Fonts settings are most suited for higher Y screen resolution, like 2160. Comment them out if your URL bar has too large fonts
/* Closed Button style */
.tab-close-button {
  height: 34px !important; /* dimensions of the background visible on hover */
  width: 34px !important; /* dimensions of the background visible on hover */
  fill: rgba(0, 193, 228) !important;
  margin-inline-end: calc((var(--inline-tab-padding) / -2) + 5px) !important; /* controls the space between the icon and the right border of the tab. If you want that space smaller, you can change the 5px to 3px or 2px */
  padding: 2.5px !important; /* controls the size of the dismiss icon (less padding = bigger icon) */
  border-radius: 2px !important; /* Not necessary, but to get an Edge look */
}
.tab-close-button:hover {
  fill: white !important;
}
/* Show close button on hover */
#tabbrowser-tabs[closebuttons="activetab"]
 .tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-inline-box !important;
}

/* Make the close button more clearly visible on hover */
.tab-close-button:hover {
	background-color: rgba(255,0,0,0.8) !important;
	fill: white !important;
}
/* Closed Button's background darker on hover (so the close button is then better visible) */
@media not (prefers-contrast) {
  .close-icon:hover {
    background-color: color-mix(in srgb, red 80%, transparent) !important; /* Original 10% */
  }
}

/* Change style of the new tab button and icon */
#tabs-newtab-button.toolbarbutton-1 .toolbarbutton-icon {
	width: 56px !important;
	height: 56px !important;
}
#tabs-newtab-button {
  fill: magenta !important;
/*	width: 38px !important;
	height: 48px !important;*/
/*	margin-left: 0px !important;
	margin-top: 11px !important;*/
}
#tabs-newtab-button:hover {
  fill: white !important;
  /*background-color: rgba(255, 0, 0, 0.8) !important;*/
  background-color: magenta !important;
  border-radius: 2px;
}

/* Change color of non-active tabs on hover to rbg black */
.tabbrowser-tab:not([selected]):hover .tab-background {
  /*background-color: rgba(255, 0, 255, 0.2) !important;*/
  background-color: color-mix(in srgb, violet 60%, transparent) !important;
  font: black
}

/* Address bar font size. Probalbly better suited for any Y resolution around 2160, like 4K */
/* #urlbar {font-size: 18pt !important} */

/* Tab bar - increases the height of the tab bar */
#TabsToolbar {
  font-size: 26px !important;
}
/* Tab width */
.tabbrowser-tab:not([pinned])
{
  max-width: 305px !important;
/* min-width: 175px !important;*/
}
.tabbrowser-tab:not([fadein])
{
 max-width: 1px !important;
 min-width: 1px !important;
 max-width: 1px;
 min-width: 1px;
}
/* Changes font color of inactive tabs on hover */
.tabbrowser-tab:not([selected]):hover label {
    color: black !important;
}
